<main>
  <nav id="navOpen" class="navbar">  
    <div class="containerDiv">
      <div id="dm" class="logo"><a>d</a>m</div>
      <div class="menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>    
      </div>
    </div>
    <div class="menu" [ngClass]="{'active': isMenuOpen}">       
      @for (menu of menuRoutes; track $index) {
        @if(menu.path !== undefined){
          <a class="menu-a" (click)="scrollTo(menu.path)">{{menu.path}}</a>
        }
      }       
    </div>
  </nav>
</main>
    
  