
<main class="container">
    <div class="containerText">
        <h3 class="textHello">
            Hello Everyone!
        </h3>
        <h1 class="iam">
            <p>Soy </p>
            <span class="spanLinea"></span> 
            <span class="spanLinea"></span> 
            <p>Desarrollador</p>
        </h1>
        <h2 class="miName">I<a>'</a>am </h2>
        <h2 class="name">David Marbello</h2>
        <p class="introducer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid adipisci assumenda quidem nam iusto soluta nobis officiis amet quam, possimus aperiam, consectetur molestias exercitationem voluptatibus illum at numquam id neque.
        </p>
    </div>
    <div class="containerImagen">
        <img src="../../../assets/foto/david.png" />
    </div>
</main>   


