
<main id="inicio" class="mainContainer">
    <section>
        <div class="container">
            <div class="containerText">
                <h3 class="textHello">
                    Hola, Bienvenido a mi espacio!
                </h3>
                <h1 class="iam">
                    <p>Soy </p>
                    <span class="spanLinea"></span> 
                    <span class="spanLinea"></span> 
                    <p class="dev">Desarrollador <span class="and">&</span> Programador</p>
                </h1>               
                <h2 class="miName">Me llamo<a>:</a></h2>
                <h2 class="name">David Marbello</h2>
                <p class="introducer">
                    Full Stack Developer con competencias para la creación, desarrollo e implementación de 
                    aplicaciones web. Competente en el desarrollo tanto del cliente como el servidor, utilizando 
                    tecnologías como <span class="skill">CSS, JavaScript, React, Node.js</span>, y base de datos, desde las cuales, 
                    genero soluciones digitales.
                </p>                
            </div>
            @defer () {
                <div class="containerImagen">
                    <img src="../../../assets/foto/programming.svg" alt="imagen" class="imagen" />"                    
                    <!-- <app-cardsvg class="imagen" /> -->
                </div>
            }@placeholder {
                <h1 class="CargandoImagen">Cargando...!</h1>
            }
        </div>
        <div class="cardskill">
            <app-cardskill></app-cardskill>
        </div>
    </section>

    <section id="proyectos">    
        <div>
            <app-project></app-project>
        </div>

    </section>

    <section id="sobre mi">
        
         <div>
             <app-about></app-about>
         </div>

    </section>

    <section id="contacto">
        
        <div>
            <app-contact></app-contact>
        </div>

    </section>
    

</main>   


