main{
   margin: 0;  
    
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.containerCard div {
    flex: 1; /* Hace que las tarjetas se expandan para ocupar el espacio disponible */    
    box-sizing: border-box; 
}
.imagen {
    width: 100%;    
    
}

.texto{
    margin: 4px;
    text-align: justify;
}

@media (max-width: 760px){
    .containerCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }

    .imagen{
        width: 300px;
    }

    .texto {
        text-align: justify;
        width: 300px;
    }
}