.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;    
    flex-direction: wrap;
    align-items: center;
    padding: 30px;
    justify-content: center;
    margin-top: 0.5em;
}

.textHello {
    color: var(--senary-text);
    font-size: 30px;
    
}

.iam {
    color: var(--main-color-100);
    font-size: 60px;
    margin-top: 10px;
}

.spanLinea{   
    display: block;
    height: 3px;
    width: 120px;  
    margin: 5px 0;
    color: #ffffff;
    background-color: var(--lineas-500);
}

.dev{   
    font-size: 60px;
}

.miName{
    margin-left: 1.5em;
    margin-top: 25px;
    color: var(--senary-text);
    font-size: 40px;
}

.miName a {
    color: var(--lineas-500);
    
}
.name{
    display: flex;
    color: var(--senary-text);
    font-size: 65px;
    margin-top: 25px;
    margin-left: 2em;
    border-bottom: 4px solid var(--lineas-500);    
    padding: 6px;
}

.introducer{
    margin-left: 6.5em;
    margin-top: 2em;
    color: var(--senary-text);
    text-align: justify;
    font-size: 20px;
    border: 1px solid #320e53;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #320e53;
}

.containerImagen{
    margin-top: 2em;
    max-width: 650px;
    box-shadow: var(--lineas-500) 1px 0px 10px 0px;
    background: var(--lineas-500);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.containerImagen img {
    border-radius: 50%;
    max-width: 500px;
    height: auto;
    
}

.skill{
    color: var(--lineas-500);
    font-family: 'Bebas Neue', cursive;
}

.and{
    color: var(--lineas-500);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        transition: 1s;
        
    }

    .containerText{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
    }    
    
    .textHello {       
        font-size: 20px;        
    }
    
    .iam {       
        font-size: 50px;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;      

    }   
    
    .miName{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;       
        font-size: 50px; 
        margin-left: 0;  
    }
    
    .miName a {
        color: var(--lineas-500);
    }
    .name{
        color: var(--senary-text);
        font-size: 40px;       
        margin-left: 0;    }
    
    .introducer{
        margin-left: 0;        
    }
    
    .containerImagen{
        margin-top: 2em;
        max-width: 650px;
        box-shadow: var(--lineas-500) 1px 0px 10px 0px;
        background: var(--lineas-500);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    
    .containerImagen img {
        border-radius: 6px;
        max-width: 300px;
        height: auto;
        transition:1s;  
    
    }    

}



