.container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2em;
    
}

.containerLinkedin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    height: 30px;
    text-align: center;
    color: var( --secondary-color);
    box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.75);
    border-radius: 150px 150px 150px 150px;
    padding: 4px; 
    background: #ffffff; 
    cursor: pointer;  

    & span{
        margin-top: 4px;        
        padding: 4px;
        font-size: 16px;
        font-family: 'Bebas Neue', cursive;
    }   
}

.linkedin{    
    fill: var(--secondary-color);
    width: 40px;
    height: 40px; 
    padding: 10px;  
}

.containerLinkedin:hover{
    transition: 0.3s; 
    transform: scale(1.1); 
    background: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px rgba(211, 211, 211, 0.75);    
    & span {
        transition: 1s;   
        color: #fff;     
    }
    .linkedin{
        transition: 1s;
        fill: #fff;   
        
    }    
}

.containerLinkedin span:hover{
    cursor: pointer;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .container {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 2em;
        
    }
    
    .containerLinkedin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;         
        height: 30px;
        margin: 0 auto;
        text-align: center;
        color: var( --secondary-color);
        box-shadow: 0px 0px 10px 0px rgba(105, 105, 105, 0.75);
        border-radius: 150px 150px 150px 150px;
        padding: 10px; 
        background: #ffffff; 
        cursor: pointer;  
    
        & span{
            margin-top: 4px;        
            padding: 4px;
            font-size: 12px;
            font-family: 'Bebas Neue', cursive;
        }   
    }
    
    .linkedin{    
        fill: var(--secondary-color);
        width: 40px;
        height: 40px; 
        padding: 10px;  
    }
    
    .containerLinkedin:hover{
        transition: 0.3s; 
        transform: scale(1.1); 
        background: var(--secondary-color);
        box-shadow: 0px 0px 10px 0px rgba(211, 211, 211, 0.75);    
        & span {
            transition: 1s;   
            color: #fff;     
        }
        .linkedin{
            transition: 1s;
            fill: #fff;   
            
        }    
    }
    
    .containerLinkedin span:hover{
        cursor: pointer;
        color: #fff;
    }

    
    
    

   

}
