<main class="container">

    <section class="title">
        <h1>about me</h1>            
    </section>

    <section class="perfil">
        <div class="def">
            @defer () {
                <span>                    
                    <img src="assets/foto/david2.png" alt="about" class="imgperfil">
                </span>
            }@placeholder (minimum 5s){            
                <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)" stroke-width="2">
                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                            <path d="M36 18c0-9.94-8.06-18-18-18">
                                <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    from="0 18 18"
                                    to="360 18 18"
                                    dur="1s"
                                    repeatCount="indefinite"/>
                            </path>
                        </g>
                    </g>
                </svg>
            }
        </div>
        <p class="textPerfil">
            Como Full Stack Developer, me especializo en la creación, desarrollo e implementación de aplicaciones web. Poseo experiencia sólida en el desarrollo tanto del cliente como del servidor, utilizando las ultimas tecnologías. Mi enfoque se centra en generar soluciones digitales que aumenten significativamente la participación de los usuarios en los servicios en línea.
            <br />
            <br />
            Me caracterizo por mi capacidad innovadora, creatividad para la resolución de problemas y habilidades para el trabajo en equipo. Mi adaptabilidad a nuevos entornos laborales, pensamiento crítico, gestión del tiempo, atención al detalle y proactividad son rasgos que me definen.
            <br/>
            <br/>
            Estoy entusiasmado por explorar nuevas oportunidades donde pueda aplicar mi experiencia y contribuir al desarrollo de soluciones innovadoras.        
        </p>
    </section>

    <section class="skills">
        <h1>skills</h1>
        <div class="cardSkill">
            <app-cardjavascript></app-cardjavascript>
            <app-cardtypescript></app-cardtypescript>
            <app-cardjava></app-cardjava>
            <app-cardspringboot></app-cardspringboot>
            <app-cardangular></app-cardangular>
            <app-cardreact></app-cardreact>
            <app-cardcss></app-cardcss>
            <app-cardhtml></app-cardhtml>
            
        </div>           
    </section>  

</main>

