.container {
    width: 1200px;
    margin-top: 6em;
    background: red;

    .title {               
        background: rgb(46, 46, 46);       
        font-size: 2rem;
        text-align: center;       
        color: #fff;       
        text-transform: uppercase;

        & h1 {            
            font-size: 2rem;
            text-align: center;           
            color: #fff;
            opacity: 0.5;
            text-transform: uppercase;           
            
        }        
    
    }

    .perfil {
        display: flex;
        justify-content: center;
        align-items: center;       
        background: rgb(88, 88, 88);
        transition: all 0.5s ease-in-out;

        .def {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;  
            
        }

        & span {
            display: block;
            width: 410px;
            height: 410px;
            border: 1.5px solid #ff0000;               
            border-radius: 76% 26% 81% 20% / 38% 76% 28% 65%; ;
            background: #1100ff;           
        }
        .imgperfil {
            width: 390px;
            height: 390px;            
            border-radius: 74% 26% 80% 20% / 38% 75% 25% 62%;
            border: 1.5px solid #ffd900;
            margin-top: 0.2em;           

        }    
    
        .textPerfil {
            text-align: justify;
            font-size: 1.2rem;           
            color: #fff;
            margin: 1em;
        }
    }

    .skills {
        margin: 0 auto;

        & h1 {
            text-align: center;           
            font-size: 2.5rem;           
            color: #fff;            
        }
    }
}

@media screen and (max-width: 768px){
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;       

        .perfil {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease-in-out;

            .def {
                margin-top: 1em;

                & span {
                    width: 310px;
                    height: 310px;
                    border: 3px solid #ff0000;

                    .imgperfil {
                        width: 290px;
                        height: 290px;
                        margin-left: 0.5em;
                        border: 3px solid #ffd900;                        
                    }
                }
            }
        }
    }
    
}