<main class="container">

    <section class="title">
        <h1>acerca de mi h1</h1>            
    </section>

    <section class="perfil">
        <div class="def">
            @defer () {
                <span>
                    <img src="assets/foto/david2.png" alt="about" class="imgperfil">
                </span>
            }@placeholder (minimum 5s){            
                <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)" stroke-width="2">
                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                            <path d="M36 18c0-9.94-8.06-18-18-18">
                                <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    from="0 18 18"
                                    to="360 18 18"
                                    dur="1s"
                                    repeatCount="indefinite"/>
                            </path>
                        </g>
                    </g>
                </svg>
            }
        </div>
        <p class="textPerfil">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, doloribus beatae perferendis aperiam, rerum est aliquam veniam minus modi animi assumenda reiciendis. Ipsa assumenda unde dolor. Repudiandae reprehenderit rem odio!
        </p>
    </section>

    <section class="skills">
        <h1>skills</h1>

        <div class="skills__container">
            <div class="skills__item">
                <h2>html</h2>
                <div class="skills__progress">
                    <div class="skills__progress__html"></div>
                </div>
            </div>
            <div class="skills__item">
                <h2>css</h2>
                <div class="skills__progress">
                    <div class="skills__progress__css"></div>
                </div>
            </div>
            <div class="skills__item">
                <h2>javascript</h2>
                <div class="skills__progress">
                    <div class="skills__progress__javascript"></div>
                </div>
            </div>
            <div class="skills__item">
                <h2>php</h2>
                <div class="skills__progress">
                    <div class="skills__progress__php"></div>
                </div>
            </div>
            <div class="skills__item">
                <h2>mysql</h2>
                <div class="skills__progress">
                    <div class="skills__progress__mysql"></div>
                </div>
            </div>
            <div class="skills__item">
                <h2>git</h2>
                <div class="skills__progress">
                    <div class="skills__progress__git"></div>
                </div>
            </div>
        </div>    
    </section>
    

</main>

