<div class="devContainer">
    <div >        
      <div>
        <h2>David Marbello</h2>
        <p>Full Stack Developer</p>
      </div>   
      <div>
        <p class="texto">
            Soy un Full Stack Developer apasionado por la creación, desarrollo e implementación de aplicaciones web. Mi enfoque se centra en proporcionar soluciones digitales que maximicen la experiencia de usuario. Me caracterizo por la innovación, la resolución creativa de problemas y la adaptabilidad a nuevos entornos de trabajo. 
        </p>
        <br>      
      </div>  
    </div>
  </div> 
  
