main {
    /* border: 1px solid var(--main-color-banderayellow); */
    border-radius: 6px;     
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;    
    transition: all 0.5s ease-in-out;

    & section {
        margin: 0 auto;

        & div {
            margin: 0 auto;

            & svg {
                width: 60px;
                height: 60px;               
                fill: var(--main-color-banderayellow);
                border-radius: 50%;
            }
        }

        & h1 {
            color: var(--text-java-orange);
            text-transform: uppercase;
            opacity: 0.8;
            font-size: 12px;
        }
    }
    
}

main:hover {
    /* border: 1px solid var(--main-color-banderayellow); */
    box-shadow: 0 0 10px var(--text-java-orange);
    /* transform: scale(1.1); */
}
