main{
    margin: 0;      
 }
 
 .containerCard {
     display: flex;
     flex-wrap: wrap;
     gap: 6px;
     
 }
 
 .containerCard div {
     width: 300px;
     height: 350px;
     overflow-y: auto;
     overflow-x: hidden;        
     border: 1px solid gray;
     box-sizing: border-box;

    
 }

    .imagen {
     width: 298px;
     text-align: justify;           
 }
 
 .texto{
     margin: 4px;
 }
 
 @media (max-width: 760px){
     .containerCard {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 1em;
     }
 }